:root {
  --main-dark: #0d323d;
  --secondary-dark: #5e9db3;
  --scrollbar-bg: #f1f1f1;
  --scrollbar-fg: #bedfe4;
}
.stronger-text {
  font-weight: 800;
}

.strong-text {
  font-weight: 700;
}

.thin-text {
  font-weight: 300;
}

.regular-text {
  font-weight: 400;
}

body {
  /* height: 100%; */
}

/* ********************************************* */
/**        NAVBAR STYLING     - START           **/
/* ********************************************* */

nav {
  background: #fafafa;
  box-shadow: 2px 10px 16px -17px rgba(0,0,0,0.75);
  margin-bottom: 40px;

}

.language-selector-container {
  background: var(--main-dark);
  color: #fff;
  height: 30px;
  display: flex;
}

.language-selector {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

.language-selector i {
  font-size: 1.5rem;
  margin-right: .7rem;
}

.language-selector select {
  background: transparent;
  color: white;
  border: none;
  font-size: .7rem;
}

.nav-body {
  color: var(--main-dark);
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 20px 0;
  margin: auto;
}

.nav-body--right {
  display: flex;
  align-items: center;
  width: 600px;
}

.nav-body--right div {
  cursor: pointer;
}

.logo {
  padding-right: 2.5rem;
  font-size: 1.4rem;
}

.nav-links p {
  display: inline-block;
  font-size: 1rem;
  padding: .6em 2em;
  border-right: 1px solid var(--main-dark);
}

.link-selected {
  font-weight: 700;
  text-decoration: underline;
}

.nav-body--left {
  display: flex;
  align-items: center;
  width: 450px;
}

.nav-body--left div {
  display: flex;
  cursor: pointer;
}

.nav-about-us {
  padding: 10px 20px;
  border-right: 1px solid var(--main-dark);
  font-size: .9rem;
}

.nav-about-us--about {
  margin-right: 30px;
 }

 .nav-login {
  margin-left: 25px;;
 }

 .nav-login--login {
  margin-right: 30px;
  align-self: center;
 }

 .nav-login--signup {
  border: 1px solid var(--main-dark);
  border-radius: 5px;
  padding: 10px 10px;
 }

 .hamburger {
  display: none;
  cursor: pointer;
 }

 .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out ;
  transition: all 0.3s ease-in-out ;
  background: var(--main-dark);
 }
/* ********************************************* */
/**        NAVBAR STYLING     - END           **/
/* ********************************************* */

/* ********************************************* */
/**        STYLING RENT PAGE - START           **/
/* ********************************************* */

/* Styling scrollbar - start*/
.query-results--details--listings::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

.query-results--details--listings::-webkit-scrollbar-track {
  background: var(--scrollbar-bg); /* color of the tracking area */
}

.query-results--details--listings::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-fg); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--scrollbar-bg); /* creates padding around scroll thumb */
}

.query-results--details--listings {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-fg) var(--scrollbar-bg);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}
/* Styling scrollbar - end */

.search-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.form-title h1 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0.4em;
  color: var(--main-dark);
  letter-spacing: 1px;
}

.form-container {
  margin-bottom: 10px;
  background: #fafafa;
  padding: 0 50px;
  box-shadow: 0px 7px 17px -16px rgba(0,0,0,0.75);
  margin-bottom: 1rem;

}

.form-search {
  display: flex;
  flex-direction: column;
}

.form-search-parameters {
  margin-bottom: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.form-search-parameters input,
.form-search-parameters select {
  margin-right: 1rem;
  padding: 12px;
  margin-top: 12px;
  border-radius: 5px;

  background: transparent;
  border: 1px solid var(--main-dark);
  color: var(--main-dark);
}

.form-search-parameters input {
  font-weight: 700;
}

.submit-form-btn {
  background: var(--main-dark);
  color: #fff;
  border: none;
  padding: 10px 30px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.query-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "details"
    "map";
}

.query-results--map {
  grid-area: map;
  height: 400px;
  width: 100%;
  background: #515151;
}

.query-results--details {
  grid-area: details;
  padding-left: 1.4rem;
  background: #fafafa;
  /* padding: 1.6rem; */
}

.query-results--details--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  padding: 1rem 1.5rem 0 0;
}

.query--details--header__title {
  font-size: 1.2rem;
  color: var(--main-dark);
}

.query--details--header__details {
  font-size: 1.3rem;
  color: var(--main-dark);
  padding-top: 0.4em;
}

.details--header__dropdown--title {
  display: inline-block;
  font-size: 0.9rem;
  padding-right: 0.25em;
}

.details--header__dropdown {
  border: 1px solid var(--main-dark);
  border-radius: 5px;
  color: var(--main-dark);
  background: #fff;
  padding: 7px 17px 7px 25px;
}

.query-results--details--listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.icon-small {
  background: var(--main-dark);
  color: white;
  padding: 10px 8px;
  border-radius: 8px;
  font-size: 13px;
  margin-right: 5px;
}

.listing--card {
  max-width: 270px;
  height: auto;
  position: relative;
  margin-bottom: 2rem;
  margin-right: 1rem;

  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.card-badge {
  position: absolute;
  right: 1em;
  top: 1em;

  background: white;
  padding: 5px 25px;
  border-radius: 9px;

  font-size: 0.7em;
  color: var(--secondary-dark);
  font-weight: 700;
}

.listing--card img {
  object-fit: cover;
  max-width: 100%;

  border-radius: 10px;
}

.card-price-location {
  margin-top: 0.4em;
}

.card-price {
  font-size: 1.3rem;
  color: var(--main-dark);
  font-weight: 700;
  margin-right: 0.5em;
}

.card-location {
  font-size: 0.95rem;
  font-weight: 400;
  color: #515151;
}

.card-features {
  margin-top: 0.55em;

  display: flex;
  flex-wrap: wrap;
}

.card-features--text {
  margin-right: 7px;
}

.bath-icon {
  padding: 10px;
}

/* ********************************************* */
/**           STYLING RENT PAGE - END           **/
/* ********************************************* */

/* ********************************************* */
/**          STYLING FOOTER - START             **/
/* ********************************************* */
footer {
  width: 100%;
  color: #fff;
  margin-top: 70px;
}

.footer-upper--mail-feed {
  background: #fff;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 1px rgb(167, 167, 167);
  border-radius: 5px;
  padding: 15px 20px;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-envelope {
  color: var(--main-dark);
  padding-right: 5px;
}

.mail-feed--input {
  border: none;
  opacity: 0.5;
  padding: 0 10px;
  width: 60%;
}

.mail-feed--input:focus {
  outline: none;
}

.mail-feed--btn {
  border: none;
  background-color: var(--main-dark);
  color: #fff;
  padding: 9px 5px;
  border-radius: 5px;
}

.footer-upper {
  background: var(--main-dark);

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer-upper--footer-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 75%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.footer-upper--footer-body,
.footer-body--intro,
.footer-body--useful-links,
.footer-body--help,
.footer-body--download {
  margin-top: 30px;
}

.footer-body--intro {
  width: 250px;
}

.footer-body--intro span {
  font-size: 1.6rem;
}

.footer-body--intro__desc {
  font-size: 0.8rem;
  padding-top: 0.8rem;
  width: 85%;
  line-height: 2em;
}

.footer-body--into__socials {
  margin-top: 25px;
}

.footer-body--into__socials i {
  font-size: 1.6rem;
  padding-right: 0.5em;
  cursor: pointer;
}

.footer-body--useful-links,
.footer-body--help {
  width: 115px;
}

.title {
  margin-bottom: 1em;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
}

.title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 5px solid #fff;
  border-radius: 5px;
}

.item {
  padding-bottom: 1.7em;
  font-size: 0.7rem;
  cursor: pointer;
}

.download-container img {
  width: 100px;
  height: auto;
  margin-top: 5px;
  padding-right: 5px;
}

/**************footer lower************/
.footer-lower {
  background: #019db3;
}

.footer-lower-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1.6rem;
}

.footer-lower--copyright,
.footer-lower--terms {
  font-size: 0.675rem;
}

.footer-lower--terms a,
.footer-lower--copyright span {
  text-decoration: none;
  color: #fff;
}

.footer-lower--terms .terms {
  border-right: 1px solid #fff;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

/* ********************************************* */
/**          STYLING FOOTER - END             **/
/* ********************************************* */

/* ********************************************* */
/**           MEDIA QUERIES - START             **/
/* ********************************************* */

@media (min-width: 600px) {
  .query-results--details--listings {
    max-height: 1200px;
    justify-content: space-between;
  }

  .footer-upper--mail-feed {
    width: 400px;
  }
  .mail-feed--input {
    width: 70%;
  }

  .mail-feed--btn {
    padding: 9px 13px;
  }
}

@media (min-width: 930px) { 
.form-search {
  flex-direction: row;
  justify-content: space-between;
}
.submit-form-btn {
  margin-top: 1rem;
  align-self: center;
}

.form-search-parameters select {
  width: 105px;
  text-align: center;
}
}

@media (min-width: 1000px) {
  .query-results {
    grid-template-columns: 1fr 1.5fr;
    /* grid-gap: 1rem; */
    grid-template-areas: "map details";
  }
  .query-results--details--listings {
    max-height: 750px;
  }

  .query-results--map {
    height: 100%;
    width: 100%;
  }

  .submit-form-btn {
    padding: 10px 40px;
  }
}

@media (min-width: 1200px) {
  .query-results--details--listings {
    /* grid-template-columns: repeat(3, 1fr); */
  }

  .listing--card {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1220px) {
  .hamburger {
    display: block;
  }

  .rotate-hamburger {
    cursor: pointer;
  }

  .rotate-hamburger .bar:nth-child(2) {
    opacity: 0;
  }

  .rotate-hamburger .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .rotate-hamburger .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-body--left, 
  .active-hamburger{
    position: fixed;
    width: 400px;
    height: 800px;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background: #FAFAFA;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
  }

  .active-hamburger {
    right: 0;
  }

  .nav-body--left {
    right: -100%;
  }

  .nav-about-us, 
  .nav-login {
    margin: 3rem 0;
    border: none;
  }

  .nav-about-us p, 
  .nav-login p {
    cursor: pointer;
  }
  
.nav-about-us--about,
.nav-login--login {
  margin-bottom: 30px;
  margin-right: 0;
 }



}



@media (min-width: 1450px) {
  .listing--card {
    max-width: 250px;
    margin-bottom: 2rem;
  }
}

/* ********************************************* */
/**           MEDIA QUERIES - END             **/
/* ********************************************* */
